rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'alartqaaschool@gmail.com';
    }

    match /students/{sessionUID}/{fileName} {
      allow create: if request.auth == null
        && request.resource.size < 1 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');

      allow read, list: if isAdmin();

      allow delete: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
